{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'default/index.css' %}">
  <div class="m-0 title-bar">
    <div class="title-text">
      <h1 class="display-4">
          읽고, 쓰고,<br>
          대화하고, 친해져요.
      </h1>
      <br>
      <h3 class="font-weight-bold ">
      한 달에 한 권이면 충분해요. <br>
      '더 나은 우리'를 위한 스터디 커뮤니티,<br>
      조제바리.<br>
      </h3>
    </div>
    <img class="title-img" src="https://i.pinimg.com/originals/0e/46/c1/0e46c1db3c7de6af5e4ca85fca2aaa6f.jpg" alt="main hyena">
  </div>
  
  <div class="py-5 intro-bgcl">
      <div class="text-center ">
          <h2>조제바리는 <span class="teal">2</span>년동안</h2>
          <h2><span class="teal">4</span>명의 멤버분들이</h2>
          <h2><span class="teal">몇 개</span>의 프로젝트를 함께하고,</h2>
          <h2>셀 수 없는 대화와,</h2>
          <h2>가늠할 수 없는 밀도의 시간을 쌓았어요. 우와!</h2>
          <p class="mt-5 intro-small">2020년 8월 기준</p>
      </div>
  </div>
  <div class="container">
    <h3 class="mt-5">조제바리가 궁금하셨다면?</h3>
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card">
          <img src="https://i.pinimg.com/originals/0e/46/c1/0e46c1db3c7de6af5e4ca85fca2aaa6f.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="https://i.pinimg.com/originals/0e/46/c1/0e46c1db3c7de6af5e4ca85fca2aaa6f.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <h3 class="mt-5">새소식</h3>
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card">
          <img src="https://i.pinimg.com/originals/0e/46/c1/0e46c1db3c7de6af5e4ca85fca2aaa6f.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="https://i.pinimg.com/originals/0e/46/c1/0e46c1db3c7de6af5e4ca85fca2aaa6f.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="https://i.pinimg.com/originals/0e/46/c1/0e46c1db3c7de6af5e4ca85fca2aaa6f.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="https://i.pinimg.com/originals/0e/46/c1/0e46c1db3c7de6af5e4ca85fca2aaa6f.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
