@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&display=swap');

:root {
  --var-teal-green: #00827F;
}

body{
  font-family: 'Noto Sans KR', sans-serif;
}

.nav_home {
  color: var(--var-teal-green) !important;
  font-weight: bolder;
}

.footer_style {
  background-color: var(--var-teal-green) !important;
}

.footer_text {
  color: white;
  font-weight: bold;
}

.nav-up {
  top: -60px;
  transition: top 0.8s ease-in-out;
}

.nav-down {
  transition: top 0.8s ease-in-out;
}


/* card start */
/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 575px) {
  .card .card__image .card__badge.card__badge--square {
    display: none !important;
  }
}

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */
.card {
  width:100%;
  border: 1px solid #000;
  display: inline-block !important;
  float: left;
  box-sizing: border-box;
}

.card .card__image {
  position: relative;
  width: 100%;
  display: inline-block;
}

.card .card__image img{
  /* width: 100%;
  height: auto; */
  display: block;
  background-color: #eee;
  width: 100%;
  height:100px;
}

.card .card__image .card__badge{
  position: absolute;
  background-color: var(--var-teal-green);
  font-size: 13px;
  color: #ffffff;
  font-weight: bold;
  padding: 5px 10px;
}

.card .card__image .card__badge.card__badge--square{
  bottom: 0;
  left: 0;
  text-align: center;
  border-radius: 10%;
  display: inline-block;
}

.card .card__image .card__badge.card__badge--round{
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%;
}

.card .card__title h1 {
  font-weight: 700;
  font-size: 24px;
}

.card .card__content{

}

/* card end */