<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top wheel_move">
  <div class="container-fluid">
    <a class="navbar-brand nav_home ml-3" href="#">JOJEAVARI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-2 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">클럽 신청</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">랜선 트레바리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">다른 클럽 놀러가기</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">이벤트</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">로그아웃</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="#">로그인</a>
        </li>
        {% endif %}
        
      </ul>
    </div>
  </div>
</nav>
